# Dependabot configuration - https://docs.github.com/en/code-security/dependabot
version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
