---
# Only the main Sass file needs front matter, rest is included from site.sass.sass_dir
sitemap:
  exclude: true
---

@use "functions" as *;
@use "01_settings_colors" as *;
@use "resume_tables" as *;
