---
# Only the main Sass file needs front matter, rest is included from site.sass.sass_dir
sitemap:
  exclude: true
---

@import "functions.scss";
@import "01_settings_colors.scss";
@import "resume_tables";
